<div class="ui center aligned container">
  <div class="ui stackable grid">
    <div class="three wide column">
      <div class="ui link list">
        <a class="ui header item"
          >Team. Callisto - Status</a
        >
        <a href="api">API</a>
      </div>
    </div>
    <div class="three wide column">
      <h4 class="ui header">Links</h4>
      <div class="ui link list">
        <a class="item" href="https://callisto.team">Webpage</a
        ><a class="item" href="https://discord.gg/jE33mfD">Discord</a
        ><a class="item" href="https://github.com/callistoteam">GitHub Repo</a>
      </div>
    </div>
    <div class="three wide column">
      <h4 class="ui header">Projects</h4>
      <div class="ui link list">
        <a class="item" href="https://wonderbot.xyz">Wonder_Bot</a
        ><a class="item" href="https://github.com/callistoteam/parkbot"
          >Park_Bot</a
        ><a class="item" href="https://github.com/callistoteam/support"
          >Support</a
        ><a class="item" href="https://github.com/callistoteam/CoronaBot"
          >CoronaBot</a
        >
      </div>
    </div>
    <div class="three wide column">
      <h4 class="ui header">Contact</h4>
      <div class="ui link list">
        <a class="item" href="https://discord.gg/jE33mfD"
          ><i class="icon discord"></i>Discord</a
        ><a class="item" href="mailto:support@callisto.team"
          ><i class="icon mail"></i>support@callisto.team</a
        >
      </div>
    </div>
  </div>
  <div class="ui section divider"></div>
  <div class="ui horizontal small divided link list">
    <a class="item" target="_blank"
      >Copyright 2017-2019 Team. Callisto, All rights reserved.</a
    >
  </div>
</div>
